NEXT_PUBLIC_DJANGO_ADDRESS=http://localhost:8000
NEXT_PUBLIC_DJANGO_API_PATH=/api/
NEXT_PUBLIC_5_160_115_210_ADDRESS=
NEXT_PUBLIC_5_160_115_210_API_PATH=
# must match Django's SIMPLE_JWT AUTH_HEADER_TYPES
NEXT_PUBLIC_AUTHORIZATION_TOKEN_NAME=JWT
NEXT_PUBLIC_ACCESS_TOKEN_KEY=access
NEXT_PUBLIC_REFRESH_TOKEN_KEY=refresh
NEXT_PUBLIC_LOCALE_COOKIE_NAME=locale
